<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="WordPress" verbose="1" >
	<listeners> 
		<listener class-name="com.webtest.core.WebTestListener" /> 
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	
	<test name="登录模块">
		<classes>
			<class name="project.wordpress.Login_Test" />					
		</classes>
	</test>
	
	<test name="标签管理">
		<classes>
			<class name="project.wordpress.Tag_Test" />						
		</classes>
	</test>
	
	
	<test name="评论管理">
		<classes>
			<class name="project.wordpress.Comment_Test" />	
			<class name="project.wordpress.Tools_Test" />		
		</classes>
	</test>		
	
	<test name="Settings模块">
		<classes>
			<class name="project.wordpress.Settings_Test" />			
		</classes>
	</test>
		
	<test name="页面管理">
		<classes>
			<class name="project.wordpress.Pages_Test" />
		</classes>
	</test>
	
	<test name="文章管理">
		<classes>
			<class name="project.wordpress.Article_Test" />		
		</classes>
	</test>
	
	<test name="目录管理">
		<classes>		
			<class name="project.wordpress.Catalog_Test" />		
		</classes>
	</test>
	
	<test name="插件管理">
		<classes>
			<class name="project.wordpress.Plugin_Test" />
		</classes>
	</test>
	
	<test name="菜单定义模块">
		<classes>
			<class name="project.wordpress.Menus_Test" />
			<class name="project.wordpress.Theme_Test" />
			<class name="project.wordpress.LittleTools_Test" />
			<class name="project.wordpress.Custom_Other_Test" />
			
		</classes>
	</test>
	
	<test name="媒体模块">
		<classes>
			<class name="project.wordpress.Media_Test" />
		</classes>
	</test>
	
	<test name="用户管理">
		<classes>
			<class name="project.wordpress.User_Test" />	
			<class name="project.wordpress.UserPrivileges_Test" />		
		</classes>
	</test>
	
	
</suite>