<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="wordpress" verbose="1" >
	<listeners> 
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.webtest.core.WebTestListener" /> 
	</listeners>
	
	<test name="登录模块">
		<classes>
			<class name="shisujia.Login_Test" />					
		</classes>
	</test>
	
	<test name="标签模块">
		<classes>
			<class name="shisujia.AddTag_Test" />
			<class name="shisujia.AlterTag_Test" />			
			<class name="shisujia.DeleteTag_Test" />						
		</classes>
	</test>
	
	<test name="用户模块">
		<classes>
			<class name="shisujia.AddUser_Test" />	
			<class name="shisujia.AlterUser_Test" />			
			<class name="shisujia.DeleteUser_Test" />			
		</classes>
	</test>	
</suite>