<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1" >
	<listeners> 
		<listener class-name="com.webtest.core.WebTestListener" /> 
	</listeners>

	<test name="test1">
			<classes>
			<class name="com.webtest.demo.admin_Login" />
		</classes>
	</test>
	<test name="test2">
			<classes>
			<class name="com.webtest.demo.Compose" />
		</classes>
	</test>
	<test name="test3">
			<classes>
			<class name="com.webtest.demo.Readtest" />
		</classes>
	</test>
	<test name="test4">
			<classes>
			<class name="com.webtest.demo.Discuss" />
		</classes>
	</test>
	<test name="test5">
			<classes>
			<class name="com.webtest.demo.Medio" />
		</classes>
	</test>



</suite>